body{
    font-family: 'Courier New', Courier, monospace;
}

.productmainbox{
    background-color: white;
    padding: 15px;
    
    /* width: 350px; */
    height: auto;
}
.productmainbox .flexbox2 button{
    padding: 10px 20px;
    background-color: #9db97b;
    font-size: 10px;
    color: white !important;
    border: 1px solid #9db97b;
    cursor: pointer;
    transition: all 0.5s;
}
.productmainbox .flexbox2 button:hover{
    background-color: transparent;
    color: #9db97b !important;
    border-color: #9db97b !important;
}
.productmainbox .flexbox1 h4{
    font-size: 18px;
    text-transform: uppercase;
}
.productmainbox .flexbox1 h5{
    font-size: 16px;
}
.productmainbox .flexbox2{
    text-align: right;
}
.productmainbox .flexbox2 h5{
    font-size: 14px;
}
.productmainbox .flexbox1{
    text-align: left;
}
.productmainbox img{
    width: 300px;
   
    
}
.productmainbox {
    text-align: center;
}
.productmainbox .flexmain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    
}
#product {
   display: flex;
   flex-wrap: wrap;
  
}

/* cart  */

.cartmainbox{
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    /* width: 350px; */
    height: auto;
}
.cartmainbox .detail2 button{
    padding: 10px 20px;
    background-color: #9db97b;
    font-size: 10px;
    color: white !important;
    border: 1px solid #9db97b;
    cursor: pointer;
    margin: 10px;
    transition: all 0.5s;
}
.cartmainbox .detail2 button:hover{
    background-color: transparent;
    color: #9db97b !important;
    border-color: #9db97b !important;
}
.cartmainbox .productdetails{
    margin-left: 25px;
}
.cartmainbox .detail1 h4{
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
}
.cartmainbox .detail1 h5{
    font-size: 16px;
   
}
.cartmainbox .flexbox2{
    /* text-align: right; */
}
.cartmainbox .detail2 h5{
    font-size: 14px;
    color: red;
    font-weight: 800;
}
.cartmainbox .flexbox1{
    /* text-align: left; */
}
.cartmainbox  img{
    width: 150px;
   
    
}

.cartmainbox p{
    font-size: 14px;
}
/* .cartmainbox{
    text-align: center;
} */
.cartmainbox .flexmain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    
}
#cart {
   display: flex;
   flex-wrap: wrap;
  margin: 0 auto;
}